@inherits ComponentBase
@using Hedron.Core.Locale;
@inject LocaleEditorState EditorState;

<label for="worldSelect" class="col-xl-1 col-form-label text-lg-left"><strong>World</strong></label>
<select id="worldSelect" class="col-xl-2 col-form-label" @bind=WorldID>
    <option value="-1">None</option>
    @foreach (var world in Worlds)
    {
        if (world.Prototype == EditorState.SelectedWorld)
        {
            <option value="@world.Prototype" selected>@world.Name</option>
        }
        else
        {
            <option value="@world.Prototype">@world.Name</option>
        }
    }
</select>

@code {
    [Parameter]
    public EventCallback<uint?> OnWorldFilterChanged { get; set; }

    [Parameter]
    public List<World> Worlds { get; set; }

    private int _worldID = -1;
    private int WorldID
    {
        get => _worldID;
        set
        {
            OnWorldFilterChanged.InvokeAsync(value == -1 ? null : (uint?)value);
        }
    }

    protected override void OnInitialized()
    {

    }

}