<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hedron</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/w3.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"
              asp-fallback-href="~/css/w3.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </environment>

    <script>
        @RenderSection("Ajax", required: false)
    </script>
    <style>
        .w3-roboto, h1, h2, h3, h4, h5, h6 {
            font-family: Roboto, sans-serif;
        }
        html, body, div {
            font-family: "Open Sans", Roboto, sans-serif;
        }
        .w3-float-tooltip {
            position: relative;
            display: inline-block;
        }
        .w3-float-tooltip .w3-float-tooltiptext {
            visibility: hidden;
            width: 60px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            margin-left: -30px;
            /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
            opacity: 0;
            transition: opacity 1s;
        }
        .w3-float-tooltip:hover .w3-float-tooltiptext {
            visibility: visible;
            opacity: 0.75;
        }
        div, button, tr, td, nav, a, text, textarea {
            transition: background-color 0.75s ease;
        }
    </style>
</head>
<body class="w3-light-gray">
    <nav class="w3-bar w3-black w3-roboto w3-xlarge w3-card">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button w3-hover-light-green">Home</a>
        <a asp-area="" asp-controller="Area" asp-action="Index" class="w3-bar-item w3-button w3-hover-light-green">Areas</a>
        <a asp-area="" asp-controller="Room" asp-action="Index" class="w3-bar-item w3-button w3-hover-light-green">Rooms</a>
        <a asp-area="" asp-controller="Mob" asp-action="Index" class="w3-bar-item w3-button w3-hover-light-green">Mobs</a>
        <a asp-area="" asp-controller="ItemStatic" asp-action="Index" class="w3-bar-item w3-button w3-hover-light-green">Statics</a>
        <a asp-area="" asp-controller="ItemWeapon" asp-action="Index" class="w3-bar-item w3-button w3-hover-light-green">Weapons</a>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="w3-container w3-margin">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
