@model Hedron.Models.WorldViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="w3-card w3-third w3-margin-top w3-margin-right w3-khaki">
        <div class="w3-container w3-cell-row">
            <div class="w3-cell" style="width:95%">
                <h2>Editing: @Model.Name</h2>
            </div>
        </div>
        <div class="w3-container w3-sand">
            <form asp-action="Edit" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="w3-red"></div>
                <div class="w3-container w3-margin-top">
                    <label asp-for="StartingLocation" class="control-label"></label>
                    <div>
                        <input asp-for="StartingLocation" class="w3-light-gray" />
                        <span asp-validation-for="StartingLocation" class="w3-red"></span>
                    </div>
                </div>
                <div class="w3-padding-32 w3-margin-left w3-margin-right">
                    <input type="submit" value="Save" class="w3-button w3-blue-gray w3-hover-black" />
                </div>
            </form>
        </div>
        <div class="w3-container w3-sand">
            <div class="w3-topbar w3-margin-left w3-margin-right">
                <div class="w3-section">
                    <a asp-action="Index"><i class="material-icons">arrow_back</i></a>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
